
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="max-w-xl h-50  p-4 bg-white">

  <!-- Product Image -->
  <div class="mb-0.5">
    <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-11 rounded-lg object-cover"  height=10 width="full" />
  </div>

  <!-- Time Posted -->
  <p class="text-xs text-gray-500 mb-2">
    Posted {{ product.time_posted|timesince }} ago
  </p>

  <!-- Top Section -->
  <div class="flex justify-between gap-4 mb-4">

    <!-- Left: User Info -->
    <div class="flex gap-2">
      <img src="{{ product.user.profile.profile_pic.url }}" alt="{{ product.user.username }}" class="w-10 h-10 rounded-full object-cover"  height=15 width=15/>

      <div class="flex flex-col">
        <span class="text-sm font-semibold text-gray-900">
          {{ product.user.username|default:product.user.username }}
        </span>
        <span class="text-xs text-gray-500">
          {{ product.user.profile.location }}
        </span>
      </div>
    </div>
  </div>
  <div>

    <!-- Right: Product Info -->
    <div class="text-right">
      <h2 class="text-base font-semibold text-gray-900 leading-tight">
        {{ product.product_name }}
      </h2>
      <span class="text-sm font-bold text-blue-600">
        Ksh{{ product.price|floatformat:0 }}
      </span>
    </div>

  </div>

  <!-- Product Details -->
  <div class="mb-6">

    <p class="text-sm text-gray-700 mb-3">
      {{ product.description }}
    </p>

    <!-- Status -->
    <div class="mt-4">
      <p>Negotiable: {{ product.negotiable|yesno:"Yes,No" }}</p>
      <p>Available: {{ product.available|yesno:"Yes,No" }}</p>
    </div>

  </div>
</div>
{% endblock content %}
