{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sokolink,business networking platform,professional connections,digital market place">
    <meta name="description" content="sokolink is an online platform that connects businesses people and makes discovery easy for people">
    <title>services</title>
    <link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>
<body class="bg-gray-50">
    {% block content %}
<div class="max-w-7xl mx-auto px-4 py-8">

    <h1 class="text-2xl font-bold mb-6">Available Services</h1>
    <div class="space-y-3">

        {% for service in services %}
        <a href="{% url 'service_details' service.id %}"
            class="flex items-center gap-3 w-full bg-white border border-gray-200 rounded-xl p-2 shadow-sm hover:shadow-md hover:bg-gray-50 transition">

            <!-- Image -->
            <div class="mb-0.5">
                <img src="{{ service.user.profile.profile_pic.url }}"
                    class="w-11 h-11 object-cover rounded-full flex-shrink-0"
                    alt="profile" height=11 width=111>
            </div>

            <!-- Content -->
            <div class="flex-1 min-w-0">

                <!-- Username -->
                <h3 class="font-semibold text-gray-800 truncate">
                    {{ service.user.username }}
                </h3>

                <!-- Service name -->
                <p class="font-bold text-sm text-gray-600 truncate">
                    {{ service.service }}
                </p>

                <!-- Location -->
                <p class="text-xs text-gray-400">
                    📍 {{ service.user.profile.location }}
                </p>
            </div>
            <div clas="ml-auto" >
                <button href={% url 'messages' %} class="bg-jungle text-white border border-yellow rounded-full ">
                    message
                </button>
            </div>
        </a>
        {% endfor %}

    </div>
</div>
    {% endblock content %}
    
</body>
</html>
